{% include 'header.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1 align="center">About Us</h1>
    <h3 align="center">Online Nursery Shopping Platform</h3><br><br>

    <p>At GreenNursey, our goal is to make shopping easier, faster, and more convenient than ever before for our customers. We are committed in our mission to build a trustworthy online marketplace which offers the widest range of products across the city. With our user experience and reliable services, we are provide customers in city with a trusted and hassle-free one-stop-shop for their nursery plant shopping needs across various categories such as flower,indoor plant,bonsai tree etc</p>
</body>
</html>
{% block 'main' %}

{% endblock 'main' %}